@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");
:root {
  --background: #111111;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Recursive", monospace;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #111111;
  }

