.container {
  display: flex;
  position: fixed;

  .sidebar {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0px 50px 20px;
    background-color: #191919;

    .galleryContainer {
      cursor: pointer;
      display: flex;

      .galleryImage {
        padding-right: 10px;
      }

      .text {
        font-size: 20px;
      }
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .settingsContainer {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .settingsImage {
          padding-right: 10px;
        }

        .text {
          padding-top: 3px;
          font-size: 16px;
        }
      }

      .disconnectContainer {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .disconnectImage {
          padding-right: 10px;
        }

        .text {
          padding-top: 3px;
          font-size: 16px;
        }
      }
    }
  }
}